<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{'/snimi/'} th:method="POST">
    <div class="form-group">
        <td><label>Start</label></td>
        <td><input type="text" name="{start}"/></td>
    </div>
    <div class="form-group">

        <td><label>Destination</label></td>
        <td><input type="text" name="{destination}"/></td>
    </div>
    <div class="form-group">
        <td><label>Date</label></td>
        <td><input type="text" name="{date}" /></td>
    </div>
    <div class="form-group">
        <td><label>Time</label></td>
        <td><input type="text" name="{time}"/></td>
    </div>
    <div class="form-group">
        <td><label>AvailableSeats</label></td>
        <td><input type="text" name="{availableSeats}"/></td>
    </div>
    <div class="form-group">
        <td></td>
        <td>
            <button type="submit">Snimi</button>
        </td>
    </div>
</form>
</body>
</html>