<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">



</head>
<body>

<div class="container center_div">

<form th:action="@{'/snimiEdit/'+ ${model.id}}" th:object="${model}" th:method="POST">
    <br> <br>
    <div class="form-group">
        <td><label >Start</label></td>
        <td ><input type="text" th:field="*{start}" name="start"/></td>
    </div>
    <div class="form-group;">

        <td><label>Destination</label></td>
        <td><input type="text" th:field="*{destination}" name="destination"/></td>
    </div><br>
    <div class="form-group">
        <td><label>Date</label></td>
        <td><input type="date" th:field="*{date}" name="date"/></td>
    </div>
    <div class="form-group">
        <td><label>Time</label></td>
        <td><input type="time" th:field="*{time}" name="time"/></td>
    </div>
    <div class="form-group">
        <td><label>AvailableSeats</label></td>
        <td><input type="text" th:field="*{availableSeats}" name="availableSeats"/></td>
    </div>




    <form>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Start</label>
            <div class="col-sm-2">
                <input type="email" class="form-control" id="inputEmail3" >
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Destination</label>
            <div class="col-sm-2">
                <input type="password" class="form-control" id="inputPassword3" >
            </div>
        </div>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                        <label class="form-check-label" for="gridRadios1">
                            First radio
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                        <label class="form-check-label" for="gridRadios2">
                            Second radio
                        </label>
                    </div>
                    <div class="form-check disabled">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
                        <label class="form-check-label" for="gridRadios3">
                            Third disabled radio
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-group row">
            <div class="col-sm-2">Checkbox</div>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck1">
                    <label class="form-check-label" for="gridCheck1">
                        Example checkbox
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </div>
    </form>






    <div class="form-group">
        <td></td>
        <td>
            <button type="submit">Snimi</button>
        </td>
    </div>
</form>
</div>
</body>
</html>