<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
</head>
<body>
<div class="container">
<table class="table table-bordered">
    <thead>
    <tr>

        <th>ViberID</th>
        <th>Name</th>
        <th>Subscribed</th>
    </tr>
    </thead>
    <tbody>
    <br>
    <br>
    <thblock th:each="user : ${users}">
        <tr>
            <td th:text="$(user.viberId)">...</td>
            <td th:text="${user.name}">...</td>
            <td th:text="${user.subscribed}">...</td>
        </tr>
    </thblock>
    </tbody>
</table>
</div>
</body>
</html>

